{% extends "layout.html" %}
{% block nav %}<li class="nav-item"><a class="nav-link bold">{{ username }}</a></li>{% endblock %}
{% block title %}{{a["activity"]}}{% endblock %}


{% block main %}
    <h1>{{a["activity"]}}</h1>
    <table>
        <thead>
            <tr>
                <th>Why we meet</th>
                <th>Place</th>
                <th>Members allowed</th>
                <th>Min</th>
                <th>Max</th>
                <th>Date option</th>
                <th>{{a["hour_1"]}}</th>
                {% if a["hour_2"] %}
                    <th>{{a["hour_2"]}}</th>
                    {% if a["hour_3"] %}
                        <th>{{a["hour_3"]}}</th>
                    {% endif %}
                {% endif %}
                <th>Do we have a ball?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ a["activity"] }} </td>
                <td> {{ a["place"] }} </td>
                <td> {{ a["allowed"] }} </td>
                <td> {{ a["min"] }} </td>
                <td> {{ a["max"] }} </td>
                <td> {{ a["date"] }} </td>
                <form action="/current" method="post">
                    {% if cur_mem["hour_1"] == 'on' %}
                        <td> <input type="checkbox" id="{{ a['hour_1'] }}" name="hour_1" checked> </td>
                    {% else %}
                        <td> <input type="checkbox" id="{{ a['hour_1'] }}" name="hour_1"> </td>
                    {% endif %}
                    {% if a["hour_2"] %}
                        {% if cur_mem["hour_2"] == 'on' %}
                            <td> <input type="checkbox" id="{{ a['hour_2'] }}" name="hour_2" checked> </td>
                        {% else %}
                            <td> <input type="checkbox" id="{{ a['hour_2'] }}" name="hour_2"> </td>
                        {% endif %}
                        {% if a["hour_3"] %}
                            {% if cur_mem["hour_3"] == 'on' %}
                                <td> <input type="checkbox" id="{{ a['hour_3'] }}" name="hour_3" checked> </td>
                            {% else %}
                                <td> <input type="checkbox" id="{{ a['hour_1'] }}" name="hour_1"> </td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if a["i_bring"] == 0 %}
                        <td> No </td>
                    {% else %}
                        <td> Yes </td>
                    {% endif %}
                </form>
                <form action="/unenroll" method="post">
                    <td> <button class="btn btn-secondary" name="unenroll_btn" value="{{a['id']}}" type="submit">Unenroll</button></td>
                </form>
                {% if a["creator_id"] == session["user_id"] and a["allowed"] == 'private' %}
                    <td><form action="/edit" method="post"><button class="btn btn-primary" name="edit_btn" value="{{a['id']}}" type="submit">Edit</button></form></td>
                {% endif %}
                {% if a["creator_id"] == session["user_id"] and a["n_members"] == 1 %}
                    <td><form action="/delete" method="post"><button class="btn red_btn" name="delete_btn" value="{{a['id']}}" type="submit">Delete</button></form></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <div class="flex">
        <table class="table table-bordered preferences_table tt">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Date</th>
                    <th> {{ a["hour_1"] }} </th>
                    {% if a["hour_2"] %}
                        <th> {{ a["hour_2"] }} </th>
                        {% if a["hour_3"] %}
                            <th> {{ a["hour_3"] }} </th>
                        {% endif %}
                    {% endif %}
                </tr>
            </thead>
            <tbody class="tt">
                <tr class="tt bold">
                    <td> {{ a["place"] }} </td>
                    <td> {{ a["date"] }} </td>
                    <td> {{ hr1 }} </td>
                    {% if a["hour_2"] %}
                        <td> {{ hr2 }} </td>
                        {% if a["hour_3"] %}
                            <td> {{ hr3 }} </td>
                        {% endif %}
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% if a['n_members'] >= a['min'] %}
        <table class="table table-bordered tt final_table">
            <thead>
                <tr>
                    <th>Final Place</th>
                    <th>Final Date</th>
                    {% set chosen_length = chosen|length %}
                    {% for each in range(0, chosen_length) %}
                        <th>Final Time {{each+1}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ a["place"] }} </td>
                    <td> {{ a["date"] }} </td>
                    {% for _ in range(0, chosen_length) %}
                        <td> {{ chosen[_] }} </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
        <h2 class="table table-bordered tt final_table">Not enough members to decide final time and place.</h2>
        {% endif %}
    </div>
{% endblock %}