{% extends "layout.html" %}

{% block nav %}<li class="nav-item"><a class="nav-link bold">{{ username }}</a></li>{% endblock %}
{% block title %}Add Wim!t{% endblock %}

{% block main %}
<h1> {{ message }} </h1>
<img src="static/img/error.jpg" width="50%">
<script>
    // Esta función redirige a otra página después de un cierto tiempo
    function redirectToAnotherPage() {
        setTimeout(function() {
            window.location.href = "/addwimit";
        }, 2000); // 2000 milisegundos de tiempo de espera antes de la redirección
    }

    // Llama a la función de redirección cuando la página se carga
    window.onload = function() {
        redirectToAnotherPage();
    };
</script>
{% endblock %}